@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
<head>
    <style type=text/css>

    </style>
</head>

<body><p>This is error404
</p>

</body>
</html>